body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.postDate {
  font-size: 0.8em;
  color: grey;
}

.highlight {
  background-color: yellow;
}

.count {
  font-size: 14px;
}

.post {
  line-height: 1.7;
}

.pageInfo {
  font-size: 14px;
  color: grey;
}

.searchBar {
  background-color: white;
}

.paginationBar {
  width: 50%;
}

.originalPost {
  font-size: 13px;
}

.markHighlight {
  background-color: #fff5bf;
}

@media only screen and (max-width: 768px) {
  .btnSearch {
    display: none !important;
  }

  .paginationBar {
    margin-top: 10px !important;
    width: auto !important;
  }

  .formMobile {
    width: 100% !important;
  }

  /* .postCount {
    left: 10px !important;
    position: absolute;
    top: 10px;
  } */
}