body {
  font-family: "Open Sans", sans-serif;
}

.App {
  text-align: center;
}

.postDate {
  font-size: 0.8em;
  color: grey;
}

.highlight {
  background-color: yellow;
}

.count {
  font-size: 14px;
}

.post {
  line-height: 1.8;
  font-size: 1.05em !important;
}

.postTitle {
  font-size: 1.2em !important;
}

.pageInfo {
  font-size: 14px;
  color: grey;
}

.searchBar {
  background-color: #060606;
}

.navbar-toggler {
  background-color: #171717 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #616161 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #9e9e9e;
}

.darkInput {
  background-color: #151515 !important;
  border: 1px solid #151515 !important;
  color: #e0e0e0 !important;
}

.list-group-item:hover {
  background-color: #222 !important;
  color: #adafae !important;
}

.paginationBar {
  width: 50%;
}

.originalPost {
  font-size: 13px;
}

.markHighlight {
  background-color: #444444;
  color: #dadada;
}

@media only screen and (max-width: 768px) {
  .btnSearch {
    display: none !important;
  }

  .paginationBar {
    margin-top: 10px !important;
    width: auto !important;
  }

  .formMobile {
    width: 100% !important;
  }

  /* .postCount {
    left: 10px !important;
    position: absolute;
    top: 10px;
  } */
}
